<link rel="icon" type="image/x-icon" href="/public/default/favicon.ico">

<!-- Support mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Add custom css -->
<link rel="stylesheet" type="text/css" href="/public/default/normalize.css">
<link rel="stylesheet" type="text/css" href="/public/default/fluidity.min.css">
<link rel="stylesheet" type="text/css" href="/public/default/default.css">

<!-- support highlight of code -->
<link rel="stylesheet" href="/public/default/highlight/espresso.min.css">
<script src="/public/default/highlight/highlight.min.js"></script>
<script>hljs.highlightAll();</script>